@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Salut Grupa 7 .NET</h1>
    <p>Invatam despre <a href="https://docs.microsoft.com/aspnet/core">MVC</a>.</p>
</div>
